<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=1280px, initial-scale=1.0" />
    <title>The <%= subreddit %> Subreddit</title>
  </head>
  <body>
    <h1>The <%= subreddit %> Subreddit</h1>
    <% let value = 'Hello' %> <%= value %> <% let {valueA} = test %> <%= valueA
    %> <%= test.valueB %>
  </body>
</html>
